.imgSection {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    flex: 3;


    .up {
        position: relative;

        .first {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;

            h2 {
                font-size: 40px;
            }
            p {
                font-size: 30px;
                padding: 0 40px;
            }
            &.active {
                display: flex;
            }

            &.hidden {
                display: none;
            }
        }

        .image {
            
            position: relative;

            &.active {
                display: flex;
            }

            &.hidden {
                display: none;
            }
            .blur {
                opacity: 0.8;
            }
         
            .sticker {
                position: absolute;
                display: none;
               
                padding: 0;
                background-color: transparent;
            }
        }

    }

    img {
        width: 250px;
    }


    .img-buttons {
        display: flex;
        gap: 20px;
        align-items: center;

        .upload {
            input {
                display: none;
            }

            label {
                padding: 8px 20px;
                border: 2px black dashed;
                cursor: pointer;
            }
        }

        .download {
            border: 2px solid black;
            padding: 8px 20px;
            cursor: pointer;

        }


    }
}