.imgSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    flex: 3;
    color: rgb(0, 167, 255);
    background: url('https://lh3.googleusercontent.com/wCgSww48xrWdRaxjcwCpB-eoBckrgj0CC_VMSMAxh8F1BqxGpdIr-kPKjqqMjA4ocmNlOIjlBf5isOuENMwZnmRFyI8ul1Q_V-ngKBs_dqHgMa9KoPAJP3_Y4233mhPt1vqTBDCmKTVddV_f6-ixx0NAv82-X37h06ULuN7SIhl3fXrVEnADiexoWS3dL4_WTpcLEYT3PVReaxYXiiQLsPqWVx4ZwvhyOhr9YaFJ91wsTZsP_gBg1Fk-J-1au-ym4Nlo7_s8X5xHQoBlY6B9zFsj32p9OiUJLs720qnWyeSaWq7QZaRXUceOEYWDUahoNKXYMcBaG9-TFqF14x28zl2XBklHz9kED8XMBg_6ohwUO8GAxSRFd-r8oPGOj2IQSrDr1-hEpGn6nEGiRaDFss99_JR2RbVRS30cjXedKxcfPkupJPMFVdbdis-0c44tGMMgDkFoM6gxyyGsaaGzI4mpUerCGzJbkpx80Rx38pFsmGiOC9q8y3yckLb7THTbe5sX0i31e-5PycEPdQuKE8_8hAdXTlcgDe-WMx5WmBDZ4_ZXXbpbt0WKoydjRpJ-OS-gVAFjhsRU2wBITPhvhLZrZKoGt2k-dNH6TgYg6nLJvqEfXBPHq2MwSdjYVBhrQ5cd4fPETaV6dtdWvxvXRfYSSBpwA1iW9r6c_FpNWVCYX9mwdZ9dMLlrNIAYhrEg1bxQ-O78nlgoE4wOpF51lyyoErqEDqaWtyvNYiottA5TI59nr378qhTjBA8WAhQOtW_dVboQQx82HbOXRZVvp5PFg_dRhoLv45GonHEQY2ldBH3adIrIJ64qcjwU0O-DHz6Gxa9b2IVCMDV5X8jQEbP30vmp3raqggwCp4PKXWhsB4x4GAqjJZkx-d8LdsSzTs-lY6qAbZGlako4mw6heERvPv5Tk69h34Wup4UnOCz91hKP=s800-no?authuser=0') rgba(3, 32, 74, 0.9);
    background-blend-mode: multiply;
    background-size: cover;
    min-height: 80vh;


    .imgContainer {
        position: relative;

        .first {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;

            h2 {
                font-size: 40px;
                width: 600px;
            }

            p {
                font-size: 26px;
                width: 600px;
                opacity: 0.9;
            }

            &.active {
                display: flex;
            }

            &.hidden {
                display: none;
            }
        }

        .image {

            position: relative;

            &.active {
                display: flex;
            }

            &.hidden {
                display: none;
            }

            .blur {
                opacity: 0.8;
            }

            .sticker {
                position: absolute;
                display: none;
                padding: 0;
                background-color: transparent;
            }

            .text {
                position: absolute;
                border: none;
                outline: none;
                background-color: transparent;
                cursor: pointer;
                user-select: none;
                color: transparent;
            }

        }

        .pointerBox {
            width: 41px;
            height: 41px;
            position: absolute;
        }

    }

    img {
        width: 250px;
    }

    .colorsExtraction {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        border: 2px solid black;
        background-color: rgb(255 255 255 / 50%);
        justify-content: center;
        margin: 20px;
        box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 30%);

        .box {
            display: flex;
            gap: 15px;
            margin: 10px;

            div {
                width: 130px;
                height: 100px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 10px;
                font-size: 12px;
                color: white;
                font-weight: bold;
            }
        }

    }
}

@media(max-width:650px) {
    .imgSection {
        min-width: calc(100vw - 17px);
    }

}