.draw {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    flex: 1;
    padding-bottom: 20px;

    .fontProp,.shadowProp {
        display: flex;
        flex-direction: column;
        width: 100%;

        h3 {
            font-size: 18px;
        }

        .part1 {
            font-size: 20px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
        }

        .part2 {

            .progressBar {
                margin: 10px;
                width: calc(100% - 20px);
                height: 5px;
                position: relative;
                display: flex;
                align-items: center;

                .value-bar {
                    height: 4px;
                    background-color: #09c;
                    z-index: 2;
                }

                .circle {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: #09c;
                    z-index: 2;
                    position: absolute;
                    cursor: pointer;
                }

                .transperantLine {
                    width: 100%;
                    height: 4px;
                    position: absolute;
                    background-color: #c0bbbb;
                }
            }

        }
    }

    .custom-color {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        h3 {
            font-size: 20px;
        }

        .colors-container {
            display: flex;
            gap: 10px;

            div {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                overflow: hidden;

                &.active {
                    width: 35px;
                    height: 35px;
                }

                input {
                    border: 0;
                    padding: 0;
                    width: 200%;
                    height: 200%;
                    cursor: pointer;
                    transform: translate(-25%, -25%)
                }
            }
        }
    }

    button {
        font-size: 16px;
        padding: 5px 20px;
    }
}