.transform{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
    font-size: 16px;
    flex: 1;
    align-items: center;
    .inputField{
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        width: 100%;
        gap: 5px;
        align-items: center;
        }   

        input {
            width: 50px;
            padding: 5px;
            font-size: 16px;
            outline: none;
            height: 28px;
            background-color: blue;
            color: white;
            border: none;
            
    }
    button {
        font-size: 16px;
        width: 100%;
    }
}