.crop {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    form {
        display: flex ;
        flex-direction: column;
        gap: 10px;

        div {
            display: flex;
            gap: 20px;
            justify-content: space-between;
        }
    }
}