.filters {
    ul {
        display: flex;
        list-style: none;
        flex-direction: column;
        gap: 10px;
        padding: 20px;

        li {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}