.firstSection {
    background-image: url("https://lh3.googleusercontent.com/fh80vfkJ-qrkawBp3ny8uLbWPTfjLBGjWKzniGoCtJXSPP1Fwtx8RYpQc9PDBuITfLo_gbmdAQE9MMUwVKb8KQ-IFmcY_wq6OeSwjcJVBYwcHDXxUQm0HxG2PfxI12z0QbcQ4863HU6SCth9vSjCyY5sj_XRnh_Z2XX037M-EEIFeH30M8TG6vdWh4e_MkveCizTzs7yLkzVYOMQrfzwcPmXLyVc3CqR_fP6UCj76WGTTvKaSrLBOgc7ka17qlHVr9kU1vtsAB-jdNLUeunZR-FwDwi7kEkJWgdur8-V8ZgfOOIgwYB7lHaiIbknfVsMz21hj2fZvZwdFnmAPPtkaUWrUOjXuW-L66Ve82i26hJnhwplsGQi_tZ7UjDBSxWPrbvhvhZQfqnnwA_GlGQOpvedoxz1B7Taky1IXtSSmwSlV2cgxWj7g6fIXK_wej6FTi3zQGmGmxPqdlya2ljivwYXlnfjDhE0sd_rvcZ92AP7lU6XWt6iF3l0naVjDu6t1ov99sUXiuj64zlEbUc2njNG0kCkNGCwMHN35pqrgNSvofh2ftOgRvoLAkxvJry9Nc9-YSgCsDyKRmoX5069xtNtAZfYFAlY2enQ4I6w27NMbeLJUmOJ15DCc0q23ew20yNAD6EqtKdqotMSfGh8pi7uGL74B6TagvrpwVUgw7dw8tRQ_VW3p7NLromA1aiqytm_8iDJ3ZVsb_f5CdmnGJHK6LpPWGQT97LMJxznaDAcCL5jIQT17F2USy9zATSSHP8_yJpZhYPNnjcUomkS-xwDPC3vPsQnEfd027xwMO5lkS_VEc8i-gyXtD22G3Kx0lQbR0fkTzYh79iGczkntBuNSiTp8R_mFE6UeCSkka4lkL48y3RajQD00KF85yoAaH4StkaG_F3NxvHMUU294fmp7lK2ijWuaJG4lnqRQL9gVx2s=w554-h220-no?authuser=0");
    min-height: calc(100vh - 55px);
    max-width: 100vw;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
   

    h2 {
        text-align: center;
        padding-top: 10px;
        font-size: 30px;
    }

    .overLay {
        background-color: rgb(70 190 253 / 70%);
        width: fit-content;
        padding: 20px;
        margin: 20px;
        color: rgb(70 190 253 / 1);
        color: black;
        min-height: 500px;

        h3 {
            font-size: 16px;
            padding: 10px 0;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 10px 20px;

            li {
                font-size: 16px;
            }

            .upload {
                align-self: center;
                margin-top: 10px;

                input {
                    display: none;
                }

                label {

                    width: fit-content;
                    font-size: 16px;
                    padding: 10px 20px;
                    background-color: rgba(3, 32, 74, 0.9);
                    color: rgb(0, 167, 255);
                    border-radius: 5px;
                    cursor: pointer;
                }

                &:hover {
                    background-color: #000068;
                }
            }
        }
    }
}

@media(max-width : 797px) {
    .firstSection {
        align-items: center;
        background-image: url('https://lh3.googleusercontent.com/nkX1VV29fA0d8ll-miHOV8J7DxzJNVsC-bth0Nv7UiXPjESTBwyiTkzmbgsryld0KvcUqK2dAY-QP7xNcEJjzkgyuOGQ8D6le2g7XIkkMdlRyhMYCzsnJLaLoAJ-S9WvTZTTR7AHOQT3TpcxTWX6GlhSk8vImiKeRMsPlJrfPokUDzQUFRabQYiFqs-kaChuEpaDyO6AZxiZlVl12AdxYQTZIh_4cPEGXjqp9_xYQMySU6P2O89Eghn-mrBs4b8tUPA9wrIkPJtGBh1xFv7p1MyBg7Y2kK6dFuk-OkmISOTqRhAeX0q49VygPkaUld9b69VWfk7G1YkYkkHcAU26j3F182jdGKNj4XgovUV-rU74W0mGMorMdX_k4RN4BFkrP4erSmGMOgv0-mfe3poBjGpTZaBS_dcKzSNB6amzAGLTch31DFjIT_VaJCBlKigLcQn1VVlOYioLYoEJkgzD0afIz3Dh5hb79Mqb4vDtUR4cYVbWhSUWO4f6SB9gwkwbsTF961YuwULir08sYAyruM1STcsV5BAdb6vH_7xqw1DCYivsWDh7L4FAztiqvKvyzb7AkCz3M8kcC2-OeV3AqKOOsVg_tlPioAlcatRv6b4Y7vroShp2Dd0yj4FbZXVgj5dYjjrUBN2a0VUd8HWNOaQUb7VxjTp7IN_s-avsBb0UQ0AAJyLx_k9soOMX7KJ0k9L9tI3-4GsawzzxyZM78k4u2rodGw3I9nkwerlq4nnFtnCtwcM2hd5MqQg_ostEuhgdDJgKcITX3wM2pOhA9QbSEZEAGX1naexbOYE3aSB7MQPfdWXJW0z5rt1SQuoVwSuAmRNbkF71g__lRJrXejLDfHzdc_TDrJ0UoIErST2kq4nMCaw6z_A8h0sJxNF8u_9TzXMXVQo43Vct0FYfxvCs7OjE0QtZN4IJ-OSnbHmifT0W=w246-h508-no?authuser=0');
    }
}
