.help {
    background-color: #2121a1;
    min-height: 100vh;
    padding: 20px;

    .container {

        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 30%);

        div {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .together {
                display: grid;
                grid-template-columns: repeat(auto-fit, 200px);
                gap: 50px;
                justify-content: center;
            }
        }

        h2 {
            align-self: center;
        }

        img {
            width: 200px;
            align-self: center;

            &.big {
                width: 320px;
            }
        }
    }

    .note {
        img {
            width: 320px;
        }
    }
}